/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-inline-size: 375px;
  max-inline-size: 1024px;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}
